.header {
  margin-top: 0px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rampart One", cursive;
  margin-bottom: 2%;
  /* text-align: center; */
}

.headerTitleSm {
  /* position: absolute; */
  top: 10%;
  font-size: 60px;
  /* text-align: center; */
}

.headerTitleLg {
  /* position: absolute; */
  position: relative;
  top: 18%;
  font-size: 80px;
  opacity: 200%;
  text-align: center;
}
.line {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid teal;
}
